	<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
			"http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

	<bean id="E1" class="beans.Engine">
		<property name="modelYear" value="2014" />
	</bean>

	<bean id="E2" class="beans.Engine">
		<property name="modelYear" value="2015" />
	</bean>

	<bean id="E3" class="beans.Engine">
		<property name="modelYear" value="2016" />
	</bean>

	<bean id="cars" class="beans.Cars">
		<property name="carName">
			<list>
				<value>AUDI</value>
				<value>BMW</value>
				<value>MERCEDEES</value>
			</list>
		</property>

		<property name="engModel">
			<list>
				<ref bean="E1"></ref>
				<ref bean="E2"></ref>
				<ref bean="E3"></ref>
			</list>
		</property>

	</bean>

</beans>